@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Roboto";
}

:root {
  --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-backdrop-filter: blur(4.5px);
  --glass-border-radius: 10px;
  --glass-border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1655998233171-ee5b130acba5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Z2xhc3Ntb3JwaGlzbXxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.wrapper .form {
  padding: 15px;
  width: 300px;
  background-color: red;
  height: 400px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrapper .form .form-divs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
.wrapper .form .form-divs input,
.wrapper .form .form-divs .days-btn {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.wrapper .form .form-divs .days-btn {
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
}
.wrapper .form .submit-btn {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-family: "Roboto";
  cursor: pointer;
  background: rgba(1, 1, 255, 0.4);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.days-dropdown {
  display: none;
}

.days-dropdown-2 {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  gap: 3px;
  top: 120px;
  left: 0px;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  background-color: rgb(52, 43, 43);
  border-radius: 10px;
}

#selectform {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: "Roboto";
  cursor: pointer;
}

.done-div {
  display: none;
}

.done-div2 {
  position: fixed;
  z-index: 10002;
  width: 100%;
  height: 100vh;
  background-color: #000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}